body {
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: crimson;
}

main {
    background-color: #0B4D1F;
    width: 80%;
    height: auto;
    margin: auto;
    border-radius: 5px;
    border: solid black;
    filter: drop-shadow(0 0 0.75rem crimson);
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 2%;
    flex-wrap: wrap;
}

h1 {
    font-family: cursive;
    width: 100%;
    text-align: center;
    color: turquoise;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

html {
    cursor: url(../img/cursor_main_mini.png) 4 12, auto;
}

.imgCarte, #imgMaCarteOrdinateur, #imgMaCarte {
    width: 200px;
    height: 300px;
}
/* #carte { */
    /* border: 5px solid green; */
/* } */

/* #carteOrdinateur { */
    /* border: 5px solid green; */
/* } */

#infosOrdi {
    /*carte de haut*/
    /* border: 5px solid black; */
    margin-left: 2%;
    color: #307D45;
    flex-basis: 400px;
    
}
table{
    margin: auto;
}
#infosJoueur {
    /*carte de bas*/
    /* border: 5px solid black; */
    margin-left: 2%;
    color: #307D45;
    flex-basis: 400px;
   
}
#imgMaCarteOrdinateur {
    /* border: 5px solid yellow; */
    width: 200px;
    margin-left: 2%;
}

#imgMaCarte {
    /* border: 5px solid yellow; */
    width: 200px;
    margin-left: 2%;
}

.imgCarteOrdinateur {
    /* border: 5px solid pink; */
    margin-left: 2%;
    width: 200px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
}

.imgCarte {
    /* border: 5px solid pink; */
    width: 200px;
    margin-left: 2%;
    margin-top: 10px;
    background-color: white;
    border-radius: 20px;
}

#carteOrdinateur {
    /*Carte de haut*/
    /* border: 5px solid orangered; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#carte {
    /*Carte de bas*/
    /* border: 5px solid orangered; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#nomordinateur, #Monprenom {
    /* border: solid indigo; */
    color: white;
    font-weight: bold;
}
#CarteBatailleO img
{
    width: 80px;
    height: auto;
}

#CarteBatailleJ img
{
    width: 80px;
    height: auto;
}
