body {
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    padding-top: 4%;
}

#depart {
    top: 2%;
    right: 50%;
}
#depart:hover {
    color: white;
    background-color: rgba(31, 31, 31, 0.8);
    border: solid white;
    border-radius: 0px;
    transition: 1s;
}

#depart {
    position: absolute;
    color: white;
    background-color: rgba(31, 31, 31, 0.5);
    border: solid red;
    border-radius: 30px;
    font-family: cursive;
    font-size: larger;
    padding: 10px 30px 10px 30px;
    transition: 1s;
}

.centrage {
    width: 100%;
    text-align: center;
}

#lancementetgagant {
    position: absolute;
    top: 2%;
    right: 10%;
    color: white;
    background-color: rgba(31, 31, 31, 0.5);
    border: solid red;
    border-radius: 30px;
    font-family: cursive;
    font-size: larger;
    padding: 10px 20px 10px 20px;
    transition: 1s;
}
#lancementetgagant:hover {
    color: white;
    background-color: rgba(31, 31, 31, 0.8);
    border: solid white;
    border-radius: 0px;
    transition: 1s;
}