#confirm {
    display: none;
    background-color: #514E61;
    color: #FFFFFF;
    border: 1px solid #aaa;
    position: absolute;
    top: 40%;
    width: 350px;
    left: 50%;
    margin-left: -100px;
    padding: 6px 8px 8px;
    box-sizing: border-box;
    text-align: center;
}

#confirm button {
    background-color: #48E5DA;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 5px;
    text-align: center;
    width: 80px;
    cursor: pointer;
}

#confirm .message {
    text-align: left;
}

.okjemodifie {
    background-color: white;
    color: red;
    border-radius: 10px;
    padding: 2%;
}

.pedit {
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 20px;
    text-align: center;
}

body {
    background: linear-gradient(red, orange);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

div {
    width: 100%;
    text-align: center;
}