body {
    margin-top: 2%;
    background-color: #51C55A;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#container img{
    margin: 2%;
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}