body{
    background-image: url("../Ressources/fond.png");
    background-position: center;
    background-size: cover;
}

h1{
    color: #006D19;
}

#rafraichir, #envoi {
    background-color: #006D19;
    color: white;
}