label {
    display: inline-block;
    width: 150px;
}
form{
    margin-top: 7%;
}
body {
    background-color: rgb(35, 39, 42);
    text-align: center;
    margin: auto;
}

.box2 {
    padding: 2%;
    background: rgb(114, 137, 218);
    border-radius: 20px;
    font-size: 24px;
    width: 40%;
    color: rgb(44, 47, 51);
    margin: auto;
    text-align: center;
}

.box2>span {
    width: 300px;
    background: rgb(44, 47, 51);
    color: rgb(114, 137, 218);
    padding: 1%;
    outline: none;
    border: none;
    border-radius: 20px;
}
h1{
    margin-top: -2%;
    text-align: center;
    font-size: 24px;
}
.box {
    padding: 2%;
    background: rgb(114, 137, 218);
    border-radius: 20px;
    font-size: 16px;
    width: 40%;
    color: rgb(44, 47, 51);
    margin: auto;
    text-align: left;
}

.box>input {
    width: 300px;
    background: rgb(44, 47, 51);
    color: rgb(114, 137, 218);
    padding: 1%;
    outline: none;
    border: none;
    border-radius: 20px;
}

input {
    margin-bottom: 1%;
}

span {
    margin-bottom: 1%;
}

.inputbutton {
    margin-top: 2%;
}

.inputbutton>input {
    background: rgb(44, 47, 51);
    color: rgb(114, 137, 218);
    padding: 1%;
    outline: none;
    border: none;
    border-radius: 20px;
    margin-right: 2%;
}
#alertebox{
    padding: 1%;
    background: rgb(114, 137, 218);
    border-radius: 20px;
    font-size: 16px;
    width: 20%;
    color: rgb(44, 47, 51);
    margin: auto;
    text-align: center;
    display: none;
}
#envoyer{
    display: none;
}
#alertebox>h3{
    margin-top: -1%;
    background: rgb(44, 47, 51);
    color: rgb(114, 137, 218);
    outline: none;
    border: none;
    border-radius: 20px;
}
#alertebox>button{
    background: rgb(44, 47, 51);
    color: rgb(114, 137, 218);
    padding: 1%;
    outline: none;
    border: none;
    border-radius: 20px;
    width: 20%;
    font-size: 15px;
    font-weight: bold;
}
#alertespan{
    width: 300px;
    color: rgb(44, 47, 51);
    padding: 1%;
    outline: none;
    border: none;
}